body{
    font-family: 'Poppins', sans-serif;
}

.background-company{
    background-color: aqua;
}
/* .banner{
    height: 100vh;
    background: url("../image/juniperphoton-S1vgp2lyExA-unsplash\ -\ Copy.jpg");
    background-size: cover;
    background-position: center center;
    padding: 100px;  
} */

.image-banner


.box-service{
    padding: auto;
}
.green{
    background-color: greenyellow;
}
.blue{background-color: aqua;

}
.red{
    background-color: red;

}

.article{
    margin-top: 80px;
    border-bottom: 1px solid;
    padding-bottom: 30px;
}

.article-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 400px;
}